
.profileImg{
    float: left;
    margin-left: 100px;
    margin-top: 130px;
}

body{
    margin:0;
}

.profile{
    text-align: center;
    padding-top:30px;
    padding-right: 100px;
}

.profileInfo{
    padding-left: 570px;
}

.profileInfo h3{
    font-weight: normal;
}

.aboutMe h1{
    text-align: center;
}

.aboutMe h3{
    font-weight: normal;
}

.contacts{
    text-align:center;
    background-color: whitesmoke;
}

.contacts h3{
    font-weight: normal;
}

.title{
    text-align: center;
    padding-top: 100px;
}

nav li{
    margin-left: 140px;
    font-size: large;

}


nav a:hover{
    background-color: gainsboro;
}
.fixedPos{
    position: fixed;
    padding-top: 60px;
}

.float{
    float:right;
    display: inline;
}

.dashboardbg{
    background-color: whitesmoke;
}

.buttonCart{
    margin-top:5px;
    margin-left:5px;
}

.totalClass{
    padding-right: 60px;
}

.navbarwidth{
    width: 100%;
}

.toastHeader{
    background-color:rgb(195, 230, 255);
}

.toastHeaderYellow{
    background-color: rgb(255, 239, 210);
}